@import url('../global/global.css');
body{
    padding: 24px;
    gap: 10px;
}
.container{
    width: 100%;
    gap: 12px;
    align-items: normal;
}
.container > h1{
    font-weight: 550;
    font-size: 1.75em;
    margin: 0;
    padding-left: 30px;
    user-select: text;
}
.container > p{
    margin: 0;
    white-space: pre-wrap;
    padding-left: 30px;
    user-select: text;
}

mdui-menu-item::part(container){
    cursor: none;
}

.posts {
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 650px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}
.post {
    height: 183px;
    width: 100%;
    padding: 15px;
}
.post-content {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    flex-direction: column;
}
.post-content > h2 {
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 500;
}
.post-content > p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
}
.post-tags {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}
mdui-tooltip > mdui-chip::part(icon){
    margin-right: 4px;
}
mdui-tooltip > mdui-chip::part(label){
    padding: 0;
    margin: 0;
}
.post-list-subt{
    color: rgb(var(--mdui-color-outline));
    font-size: 8px;
    flex-wrap: wrap;
    line-height: 10px;
    justify-content: space-between;
}
.post-list-subt + h2{
    margin: 10px 0;
    font-weight: 400;
}
mdui-list, mdui-list-item{
    width: 100%;
}

mdui-list-item::part(container){
    cursor: none;
}
mdui-collapse-item > mdui-list-item > :nth-child(2){
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}
mdui-text-field{
    width: 60vw;
    max-width: 300px;
}
mdui-collapse-item > div.v-box{
    align-items: flex-start;
    gap: 10px;
    padding-top: 5px;
    padding-left: 18px;
}
.filter-item-container{
    gap: 10px;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.filter-item-container > :nth-child(1){ 
    min-width: 24px;
    min-height: 2rem;
}
.filter-item-container:nth-child(1){
    align-items: center;
}
.filter-item-container > div{
    gap: 5px;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

mdui-fab{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.seo-area{
    position: fixed;
    width: 0;
    height: 0;
    opacity: 0;
    user-select: none;
    z-index: -999;
    transform-origin: 100vw 100vh;
    animation: spin 0.1s infinite, crawl 1s infinite;
}
@keyframes crawl {
    0% { top: 0; left: 0; }
    25% { top: -100vh; left: 100vw; }
    50% { top: 100vh; left: 100vw; }
    75% { top: 100vh; left: -100vw; }
    100% { top: 0; left: 0; }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}