@import url('mdui/mdui.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@font-face {
    font-family: "Wanted Sans Std Variable";
    font-style: normal;
    font-display: swap;
    src: url("../assets/WantedSansStdVariable.woff2") format("woff2-variations");
}
body{
    /* background-color: rgb(var(--mdui-color-surface)); */
    font-family: 'Wanted Sans Std Variable', 'Noto Sans SC';
    color: rgb(var(--mdui-color-on-surface));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: none !important;
    min-height: 100vh;
    user-select: none;
}
::selection{
    background-color: rgb(var(--mdui-color-primary-container));
    color: rgb(var(--mdui-color-on-primary-container));
}
*, mdui-list-item::part(container){
    cursor: none !important;
}

.cursor{
    display: block;
    position: fixed;
    border-radius: 50%;
    border: 2px solid rgb(var(--mdui-color-on-surface));
    width: 20px;
    height: 20px;
    opacity: 0.5;
    pointer-events: none !important;
    transform: translate(-50%, -50%);
    box-shadow:
        0 0 15px rgb(var(--mdui-color-surface)),
        0 0 5px rgb(var(--mdui-color-on-surface)),
        inset 0 0 10px rgb(var(--mdui-color-surface)),
        inset 0 0 5px rgb(var(--mdui-color-on-surface));
    transition:
        width 0.1s cubic-bezier(0.3, 0.35, 0, 1.00),
        height 0.1s cubic-bezier(0.3, 0.35, 0, 1.00),
        box-shadow 0.1s cubic-bezier(0.3, 0.35, 0, 1.00),
        border 0.1s cubic-bezier(0.3, 0.35, 0, 1.00);
    z-index: 9999;
    touch-action: none;
}
.cursor-active{
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: 
        0 0 15px rgb(var(--mdui-color-surface)),
        0 0 10px rgb(var(--mdui-color-on-surface)), 
        inset 0 0 10px rgb(var(--mdui-color-on-surface));
}

.h-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.v-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auto-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 620px) {
    .auto-box{
        flex-direction: column;
    }
}

mdui-navigation-drawer.sidebar > div{
    padding: 12px;
    padding-top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}
mdui-navigation-drawer.sidebar > div > mdui-list{
    width: 100%;
    overflow-y: auto;
}
mdui-navigation-drawer.sidebar > div > mdui-list > mdui-list-item[nonclickable] > div.h-box{
    justify-content: flex-start;
    font-size: 30px;
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
}
mdui-navigation-drawer.sidebar > div > mdui-list > mdui-list-item[nonclickable] > div.h-box > span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    padding: 7.5px 0;
}
.glb-ctrl{
    margin: 5px;
    gap: 5px;
    flex-wrap: wrap;
}
.footer{
    margin: 2px;
    font-size: 14px;
    color: rgb(var(--mdui-color-outline));
    max-width: 100%;
    word-break: break-all;
    text-align: center;
}
.footer a{
    color: rgb(var(--mdui-color-outline));
}

.bg-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(var(--mdui-color-surface));
    z-index: -114514;
}
.bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
    transition: 
        opacity 0.2s cubic-bezier(0.3, 0.35, 0, 1.00),
        filter 0.2s cubic-bezier(0.3, 0.35, 0, 1.00);
    background-color: rgb(var(--mdui-color-surface));
}